.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.number {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  width: 30px;
  text-align: end;
}
